#header {

    .logo {
        width: 50px;
        border-radius: 7px;
        overflow: hidden;
    }
    
    .burger {
        width: 45px;
        height: 45px;
        font-size: 20px;

        color: #e4e4e4;
        background-color: #ffffff0a;
    }

    
}