html {
    overflow-y: scroll;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background;
    color: #fff;
}

a {
    text-decoration: none;
}

* {
    transition-duration: 200ms;
    transition-property: background, border-color, opacity, box-shadow, top, bottom, left, margin,
        right;
}

.container {
    max-width: 1200px;
    min-width: 1200px;
    margin: 0px auto;

    @media (max-width: 1350px) {
        & {
            max-width: 1000px;
            min-width: 1000px;
        }
    }

    @media (max-width: 1075px) {
        & {
            max-width: -webkit-fill-available;
            min-width: -webkit-fill-available;
            max-width: -moz-available;
            min-width: -moz-available;
        }
    }
}

.markdown-container {
    --code-comment: var(--tertiary-text);
    --code-punctuation: var(--main-text);
    --code-builtin: var(--secondary-text);
    --code-number: var(--secondary-text);
    --code-interpolation: var(--code-keyword);
    --code-class-name: var(--secondary-text);

    color: var(--tertiary-text);
    overflow-y: auto !important;

    code[class*='language-'],
    pre[class*='language-'] {
        overflow-x: auto;
        min-width: 0px;
        color: var(--main-text-hover);
    }

    pre[class*='language-'] {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    & .token.selector,
    .token.important,
    .token.atrule,
    .token.keyword {
        color: var(--code-keyword);
    }

    & .token {
        &.punctuation {
            color: var(--code-punctuation);
        }

        &.string {
            color: var(--code-string);
        }

        &.function {
            color: var(--code-function);
        }

        &.comment {
            color: var(--code-comment);
        }

        &.token.builtin {
            color: var(--code-builtin);
        }

        &.token.number {
            color: var(--code-number);
        }

        &.token.constant {
            color: var(--code-constant);
        }

        &.token.operator {
            color: var(--code-operator);
        }

        &.token.interpolation {
            color: var(--code-interpolation);
        }

        &.token.class-name {
            color: var(--code-function);
        }
    }

    & h1,
    & h2,
    & h3 {
        color: var(--text);
        margin-bottom: 0.45em;
    }

    & h1 {
        font-size: 2.25em;
    }

    & p {
        line-height: 1.75rem;
    }

    & ul {
        margin: 0;
        padding: 0 20px;
    }

    & li {
        padding: 5px 0px;
        line-height: 1.75rem;
    }

    & a {
        color: var(--link);
    }

    & :is(code):not(pre code) {
        color: var(--accent-text);
        // font-size: 0.9em;
        background-color: var(--secondary);
        padding: 1px 6px;
        border-radius: 0.25em;
    }

    & :not(pre)>code[class*='language-'],
    pre[class*='language-'] {
        background-color: var(--secondary);
        border: 1px solid var(--border);
        border-radius: 0.25em;
        font-size: 0.9em;

        &:hover {
            background-color: var(--secondary-hover);
            border-color: var(--border-hover);
        }
    }

    & a :is(code):not(pre code) {
        color: inherit;
    }

    & blockquote {
        padding: 5px 20px;
        background-color: var(--secondary);
        border: 1px solid var(--dividerLight1);
        margin-right: 0px;
        margin-left: 0px;
        border-radius: 0.25em;

        strong {
            font-style: normal;
        }
    }

    & hr {
        border: none;
        border-top: 1px solid var(--border-low);
        color: var(--border-low);
        margin: 30px 0px;
    }
}